{% extends "base.html" %}

{%block body%}
<h3 class="text-white bg-dark text-center" style="background-color: #435d7d !important;">Car Information</h3>

<h3 class="text-white bg-dark text-center" style="background-color: #435d7d !important;">&nbsp</h3>

<div class="bg-dark" style="background-color: #435d7d !important;">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://img.freepik.com/free-vector/modern-blue-urban-adventure-suv-vehicle-illustration_1344-205.jpg?w=2000" alt="" class="rounded-circle p-1 bg-primary" width="110">
                            <div class="mt-3">
                                <h4>{{car.make}}</h4>
                                <h4>&nbsp</h4>
                                

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Year</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h6 class="mb-0">{{car.year}}</h6>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Wheels</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h6 class="mb-0">{{car.wheel_count}}</h6>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Seat Style</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h6 class="mb-0">{{car.seat_style}}</h6>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Color</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h6 class="mb-0">{{car.color}}</h6>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Owned by (User ID)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h6 class="mb-0">{{car.user.email}}</h6>
                            </div>
                        </div>
                    </div>
                    <a href="#request" class="btn btn-success" data-toggle="modal"><span>Make request</span></a>
                </div>
        </div>
    </div>
</div>
<div id="request" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/requests" method="POST">
                <div class="modal-header">						
                    <h4 class="modal-title">Make request</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control" name="buy_price" required>
                    </div>					
        <div class="form-group">
                        <label>Message</label>
                        <textarea  class="form-control"name="message" required></textarea>
                    </div>
                    <input type="hidden" class="form-control" name="car_id" value="{{car.car_id}}" required>
                    <input type="hidden" class="form-control" name="requested" value="{{car.user.user_id}}" required>    
                    <input type="hidden" class="form-control" name="car_id" value="{{car.car_id}}" required>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>

<style type="text/css">
body{
background: #f7f7ff;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
background-color: #121213 !important;
border-color: #161717 !important;
}
.bg-primary{
background-color: #121213 !important;

}
.modal .modal-dialog {
    max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}
.modal .modal-content {
    border-radius: 3px;
    font-size: 14px;
}
.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}
.modal .modal-title {
    display: inline-block;
}
.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}
.modal textarea.form-control {
    resize: vertical;
}
.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}	
.modal form label {
    font-weight: normal;
}	
.card {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 0 solid transparent;
border-radius: .25rem;
margin-bottom: 1.5rem;
box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
margin-right: .5rem!important;
}
</style>

<script type="text/javascript">

</script>
{% endblock %}