{% extends 'base.html' %}
{% block title %} Car App login{% endblock %}


{%block special%}     
  <link rel="stylesheet" type="text/css" href="/css/style.css">
{% endblock %}

{% block logout %}
{%endblock%}
{% block body %}


  <form action="/login" method="POST">
    <h1 style="text-align:center;font-size:30px;">Welcome to your favorite car dealership!</h1>
    <br/>
    <h1 style="font-size:20px">Sign in</h1><br/>
  
    <input type="email" name="email" placeholder="Email address" required />
    <input type="password" name="password" id="password" placeholder="Password" title="Password min 8 characters. At least one UPPERCASE and one lowercase letter" required pattern="(?=^.{8,}$)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"/>
  
    <button type="submit" value="Sign Up" title="Submit form" class="icon-arrow-right"><span>Sign up</span></button>
    <a href="/register">Don't have an account?</a>
  </form>
{% endblock %}




